body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: linear-gradient(-45deg, #d4d2d2, #ebe6e6, #f5f2f2, #f5f5f5);
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.app {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.app input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.app input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.app input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.app h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}

.app h5 {
    position: absolute;
    top: -150px;
    width: 100%;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
}

.new-adv,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.new-adv {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}


.btn {
    padding: 10px;
    font-size: 15px;
    background: transparent;
    border: 1px solid #3D4048;
    border-radius: 12px;
    text-transform: uppercase;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 100px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.btnType1 {
    background-color: transparent;
    color:#3D4048;
    border: 2px solid rgba(175, 47, 47, 0.15);
}

.btnType1:hover {
    background-color: rgba(175, 47, 47, 0.15);
    color:#3D4048;
    box-shadow: 0 5px #3D4048;
    transform: translateY(4px);

}


