<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Adventures</title>

    <link href="style.css" rel="stylesheet"/>
    <script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>
    <script src="vue.js"></script>
</head>

<body>
<div id="Adv">
    <section class="app">
        <header class="header">
            <h1>Adventures</h1>

            <input class="new-adv"
                   type="text"
                   name="typeOfSport"
                   id="ifType"
                   placeholder="Type of sport">
            <input class="new-adv"
                   type="text"
                   name="time"
                   id="ifTime"
                   placeholder="Period of time">

            <div class="col" v-if="adv.length > 0" >
                <button type="submit" onclick="addAdventure()" class="btn btnType1">Add</button> <br/>
            </div>

        </header>
    </section>


    <section class="app">
        <header>
            <h5>Look what we found</h5>
            <button type="submit" onclick="getAllAdventures()" class="btn btnType1">Search</button> <br/>

            <div>
                <ul th:each="adv : ${advs}">
                    <li th:text="${advs}"></li>
                </ul>
            </div>

        </header>
    </section>

</div>




</body>
</html>